.wall {
    width:50px;
    height:50px;
    background-image: url('assets/wall.png');
    display: inline-block;
}

.coin {
    width:50px;
    height:50px;
    background-image: url('assets/coin.png');
    display: inline-block;
}

.ground {
    width:50px;
    height:50px;
    background-image: url('assets/bg.png');
    display: inline-block;
}

.ghost {
    width:50px;
    height:50px;
    background-image: url('assets/ghost1.png');
    display: inline-block;
}
.pacman {
    width:50px;
    height:50px;
    background-image: url('assets/pacman.png');
    display: inline-block;
}

div {
    line-height: 0px;
}
